/* Сброс настроек отступа */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 13px 5px 13px 5px;
    border-bottom: 4px solid #fec804;
    color: #fec804;
    background: #2f2f33;
    font-size: 30px;
}
