/* Сброс настроек отступа */
* {
    margin: 0px;
    padding: 0px;
}

header, .leftPanel, .statusPanel {
    background: #2f2f33;
}

/* Задание основным параметров */
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* Стили заголовка */
header {
    padding: 13px 5px 13px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    position: relative;
    border-bottom: 4px solid #fec804;
    color: #fec804;
    font-size: 30px;
}

/* Стили основной рабочей области */
.workPanel {
    width: calc(100% - 200px);
    padding-top: 10px;
    background: white;
    float: right;
}

/* Стили подвала */
.statusPanel {
    padding: 5px 0px 5px 5px;
    color: white;
}
